*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: black;
}

.card-content {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -180px;
    perspective: 800px;
}
  
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px white;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}
  
.flipOnce {
    transform: rotateY(180deg);
}
  
.flipTwice {
    transform: rotateY(360deg);
}
  
.reset {
    transition: none;
    transform: rotateY(0deg);
}
  
.front-side,
.back-side {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border: 20px groove hsl(47, 84%, 30%);
    background-color: hsl(47, 84%, 50%);
}
  
.back-side {
    transform: rotateY(180deg);
}
  
img {
    width: 100%;
    height: 100%;
}

#clickMe {
    position: fixed;
    position: fixed;
    top: 80%;
    left: 50%;
    width: 150px;
    height: 50px;
    margin-left: -75px;
    background-color: black;
    color: white;
    border: .3rem solid white;
    border-radius: 5px;
    font-size: 1rem;
}
  
#clickMe:hover {
    cursor: pointer;
    border: .4rem solid white;
    box-shadow: 0px 0px 10px white;
}