{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random face generator</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>

    <div class="content">
        <div class="card-content">
            <div class="card">
                <div class="front-side">
                    <img id="img1" src="{{ images.0 }}" alt="picture_1">
                </div>
            <div class="back-side">
                    <img id="img2" src="{{ images.1 }}" alt="picture_2">
            </div>
          </div>
        </div>
    </div>
    
    <form id="generateForm" method="post">
        {% csrf_token %}
        <div class="effect-box">
            {{ form }}
        </div>
        <button id="clickMe" type="submit">Generate image</button>
    </form>
    <canvas id="bg"></canvas>
</body>
</html>